@use '../_config.scss';

.navbar {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
}

.topbar {
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #020203;
    top: 0;
    left: 0;
    align-items: center;
    font-size: 24px;
    font-family: config.$font-bold;

    .navbar-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        margin-left: calc(45px - (58px / 2));

        .logo-svg {
            background: url('../../../public/icons/logo.svg') no-repeat center center;
            width: 58px;
            height: 58px;
        }

        .sportsee {
            color: #E60000;
            margin-left: 20px;
        }
    }

    .navlink {
        text-decoration: none;
        color: white;
        margin: 0 50px;

        &:hover {
            color: #E60000;
        }
    }
}