@use '../_config.scss';

#sessions {
    background-color: config.$primary-color;
    color: white;
    position: relative;
    width: 260px;
    height: 260px;

    .title {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 140px;
        font-size: 15px;
        color: config.$secondary-color;
        font-weight: lighter;
    }

    .session-tooltip {
        background-color: white;
        color: black;
        font-weight: 500;
        padding: 5px 15px;
        font-size: 12px;
    }

    .recharts-cartesian-axis-tick-value{
       /*  margin-top: 20px; */
        color: white;
    }
}