@use '../_config.scss';


#today-score {
    position: relative;
    background: config.$secondary-color;
    .title {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 140px;
        font-size: 15px;
        color: black;
        font-weight: lighter;
    }

    .recharts-surface,
    .legend {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* padding-top: 20px; */
    }
    
    .legend {
        text-align: center;
        font-size: 14px;
        margin: 0;
        color: grey;
        height: 100%;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
        }

        .percent {
            font-weight: bolder;
            font-size: 28px;
            color: black;
            margin-bottom: 0px;
        }
    }
}