$primary-color: #E60000;
$secondary-color: #FBFBFB;

$desktop-max-width: 1360px;

$font-family: "Roboto", "Helvetica Neue", "Helvetica, Arial";

@mixin screen-max($max) {
    @media screen and (max-width: $max) {
        @content
    }
}